In [1]:
n=0
while n<10:
    print(n)
    n+=1
    if n==5:
        break

0
1
2
3
4

In [2]:
n=0
while n<5:
    print(n)
    n+=1
else:
    print(n, "is not less than 5")

0
1
2
3
4
5 is not less than 5

In [3]:
fruitList = {"Strawberry",
             "Pineapple",
             "Mango",
             "Orange",
             "Grape",
             "Apple",
             "Blueberry"}
Bad = "Apple"

In [4]:
for fruit in fruitList:
    if fruit != Bad:
        print ("I like", fruit)
    if fruit == Bad:
        print(Bad, "is really a fruit?")
        break

I like Pineapple
I like Strawberry
I like Orange
I like Mango
I like Grape
Apple is really a fruit?

In [6]:
grade = 91
if grade in range(90, 100):
    print("A")

A

In [22]:
grade = 55
if grade >= 90:
    print("A")
else:
    if grade in range(80, 89):
        print("B")
    else:
        if grade in range(70, 79):
            print("C")
        else:
            if grade in range(60, 69):
                print("D")
            else:
                if grade <= 60:
                    print("F")

F

In [27]:
students = {"Andy":88,
           "Amy":66,
           "James": 90,
           "Jules": 55,
           "Arthur": 77}

In [39]:
for k in students:
    if students[k] >= 90:
        print(k, "A")
    else:
        if students[k] in range(80, 89):
            print(k, "B")
        else:
            if students[k] in range(70, 79):
                print(k, "C")
            else:
                if students[k] in range(60, 69):
                    print(k, "D")
                else:
                    if students[k] <= 60:
                        print(k, "F")

Andy B
Amy D
James A
Jules F
Arthur C

In [41]:
import statistics

In [58]:
meangrade=sum(students.values())/len(students.values())
print(meangrade)

75.2

In [61]:
max(students.values())

90

In [62]:
min(students.values())

55

In [64]:
for k in students:
    if'J' in k:
        break
    print(k)

Andy
Amy

In [65]:
for k in students:
    if'J' in k:
        continue
    print(k)

Andy
Amy
Arthur