In [1]:
#Q1
students = {"Andy":88,
           "Amy":66,
           "James": 90,
           "Jules": 55,
           "Arthur": 77}

In [119]:
#Q1 part 2
def check_name(name):
    if name in students:
        print(students[name])
    else:
        print("cannot find this students name")
        
check_name("Andy")
check_name("Joey")

88
cannot find this students name

In [118]:
#Q1.5
def average(total):
        print(total)
        
average(total/ number)

75.2

In [399]:
#Q2
def function(num, n):
    while n<num:
        return(n, n**2)
    else:
        print("greater than", num)
        
function(8, 9)
function(8, 7)

greater than 8

(7, 49)

In [385]:
#Q3
def total(num):
    sum=0
    for n in range(num):
        sum=sum+n
    print(sum)

total(15)

105

In [146]:
#Q4
def integers(num, sum, i):
    while i <= num:
        print(sum+i)
        sum = sum +i
        i=i+1
integers(8, 0, 1)

1
3
6
10
15
21
28
36

In [375]:
from statistics import stdev

In [376]:
#Q5
def average(mean):
    return ("average", sum(mean) / len(mean), "sum", sum(mean), "stdev", stdev(mean))
    return sum(backs)
total =[range(1,100)]
average(*total)

('average', 50.0, 'sum', 4950, 'stdev', 28.722813232690143)

In [393]:
#Q6
def minimal(v1,v2,v3,v4):

    min_value = v1
    if v2 < min_value:
        min_value=v2
    if v3< min_value:
        min_value=v3
    if v4<min_value:
        min_value=v4
    return(min_value)


minimal(23, 33, 12, 9)

9

In [398]:
# Q6.5 i am confused as to the instructions for this question. Was I just supposed to rename and print rather than return?
def youngest(v1,v2,v3,v4):

    min_value = v1
    if v2 < min_value:
        min_value=v2
    if v3< min_value:
        min_value=v3
    if v4<min_value:
        min_value=v4
    print(min_value)


youngest(23, 33, 12, 9)

9